[package]
name = "streamtools"
version = "0.3.0"
edition = "2021"
authors = ["extremeandy"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/extremeandy/streamtools"
description = "Additional stream combinators"
readme = "README.md"

[dependencies]
futures = "0.3.26"
pin-project-lite = "0.2.9"
parking_lot = "0.12.1"

[dev-dependencies]
tokio = { version = "1.25.0", features = ["rt-multi-thread", "sync", "macros"] }
tokio-stream = { version = "0.1.11", features = ["sync"] }